<?xml version="1.0"?>

<model>

    <name>Practice_5_Model</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Luwis Choi</name>
        <email>luwis93choi@hotmail.com</email>
    </author>

    <description>
        Model for 5th Gazebo simulation practice
    </description>

</model>