<?xml version="1.0"?>

<model>

    <name>My 1st Model</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Luwis Choi</name>
        <email>luwis93choi@hotmail.com</email>
    </author>

    <description>
        My 1st model for Gazebo
    </description>

</model>