<?xml version="1.0"?>
<robot name="obstacle_box">

    <link name="obstacle_box_base">
        
        <inertial>
            <mass value="1"></mass>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"></inertia>
        </inertial>

        <collision name="base_collision">
            <geometry>
                <box size="2 2 2"></box>
            </geometry>
        </collision>>

        <visual name="base_visual">
            <geometry>
                <box size="2 2 2"></box>
            </geometry>
        </visual>
        
    </link>

</robot>