<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro '$(find gazebo_practice_6)/urdf/robot.urdf'"></param>

    <arg name="x" default="0"></arg>
    <arg name="y" default="0"></arg>
    <arg name="z" default="1.5"></arg>

    <node name="practice_6_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model my_robot -x $(arg x) -y $(arg y) -z $(arg z)"></node>

</launch>